@charset "UTF-8";

@media screen and (min-width: 768px){
    span#hamb{
        display: none;
    }

    menu{
        display: block;
    }
    menu a{
        /*background-color: gray;*/
        background-color: black;
    }

    menu li{
        display:inline-block;
    }
    #itens{
        /*background-color: gray;*/
        background-color: black;
        border-top: 1px solid green;
        border-bottom: 1px solid green;
        font-size: 14px;
        padding: 2px;
    }
    #itens a{
        padding: 8px;
    }
    #itens li{
        margin-bottom: 2px;
    }

    main{
        display: 768px;
    }
    #recentes{
        text-align: left;
    }
    #recentes h2{
        font-size: 16px;
        font-family: var(--fonte-2);
    }
    #recentes img{
        margin: 10px;
        width: 200px;
        height: 150px;
        transition-duration: .3s;
    }
    #recentes img:hover{
        border-radius: 20px;
        transform: translate(-1px,-10px);
        transition: transform .3s;
        box-shadow: 5px 5px 10px black;
    }

    .conteiner h2{
        font-size: 22px;
    }
    .categorias img{
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
        
    }
    .games h2{
        text-align: center;
    }
    .games p{
        text-align: justify;
    }
    .games img{
        height: 250px;
        width: 400px;
        margin-bottom: 20px;
    }
    #aviso h2{
        text-align: center;
    }
    #aviso p{
        text-align: justify;
    }
    header > p{
        font-size: 24px;
    }
}