@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fonte-1: 'Patrick Hand', cursive;
    --fonte-2: 'Supermercado One', cursive;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.880);
    color: white;
    min-height: 100vh;
    min-width: 90vw;
}
header{
    background-color: rgba(255, 255, 0, 0.925);
    background-image: url("https://raw.githubusercontent.com/PikachuLibertario/site-games-imagens/main/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    color: black;
    text-align: center;
    padding: 20px;


}
header > h1{
    margin-top: 20px;
    font-size: 30px;
    font-family: var(--fonte-2);
    background-color: rgba(255, 255, 255, 0.800);
    padding: 5px;
    margin-bottom: 20px;
}
header > p{
   font-size: 26px;
   font-family: var(--fonte-2);
   background-color: rgba(255, 255, 255, 0.800);
   padding: 5px;
   margin-bottom: 30px;
}
.menu{
    font-family: var(--fonte-2);
    background-color: rgb(187, 187, 0);
    text-align: center;
    padding: 5px;
    box-shadow: 4px 2px 3px black;
    margin-bottom: 20px;
}
.menu > a{
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 10px;
    transition-duration: .3s;
}
.menu > a:hover{
    background-color: black;
    color: yellow;
    padding: 2px;
    border-radius: 20px;
}
main{
    min-width: 320px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
}
main > div > h1{
    font-family: var(--fonte-1);
    font-size: 30px;
    padding: 10px;
    text-align: center;

}
.video{
    background-color: rgba(255, 255, 255, 0.500);
    margin: 0px -20px 30px -20px;
    padding: 15px;
    position: relative;
    padding-bottom: 56.5%;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
img{
    /*configuração para imagem se ajustar conforme a tela*/
    max-height: 90%;
    max-width: 90%;
    padding: 10px;
    margin: 15px;
    transition-duration: .5s
}
main p{
    border-radius: 20px;
}
.categorias{
    text-align: center;
    margin: auto;
}
.categorias p{
    width: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    font-family: var(--fonte-1);
    color: black;
    font-size: 26px;
}
.categorias img:hover{
    border: solid 1px red;
    padding: 0px;
}
.games{
    text-align: center;
    margin: auto;
    font-family: var(--fonte-1);
    font-size: 18px;
}
.games p{
    font-size: 22px;
    padding: 15px;
    text-align: left;
}
.download{
    text-align: center;
    margin: auto;
    width: 200px;
    background-color: yellow;
    padding: 10px;
    border-radius: 20px;
}
.download a{
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    transition-duration: .3s;
    color: black;
}
.download a:hover{
    background-color: black;
    color: yellow;
    padding: 6px;
    border-radius: 20px;
    text-decoration: underline;
}
.tutorial{
    padding: 10px;
}
#aviso{
    font-family: var(--fonte-2);
}
#aviso p{
    text-align: justify;
    color: white;
    font-size: 20px;
}
#aviso h2{
    font-size: 26px;
    text-align: center;
    color: white;
    text-decoration: underline red;
}
.bottom a{
    color: yellow;
    font-size: 20px;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.bottom a:hover{
    text-decoration: underline;
}
footer > p{
    font-family: var(--fonte-2);
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: 18px;
}